.input-data{
    flex: 4;
    margin-right: 40px;
}

.head-qua{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.input-range{
    margin-top: 30px;
    width: 350px !important;
}
.input-range__slider{
background: coral !important;
border: 1px solid coral !important;
}
.input-range__track--active {
    background: coral !important;
}
.table-data{
    flex: 6;
}

.container{
    display: flex;
    margin: 80px 50px 50px 100px;
}

.btn-search{
    margin: 45px 0 0 278px ;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: white; 
    color: black; 
    border: 2px solid coral;
    border-radius: 8px;
    font-weight: bold;
}
.btn-search:hover{
    background: coral;
    color: whitesmoke;
}

.disease-detail{
    margin-top: 50px;
}
.disease-input{
    margin-top: 10px;
}

.disease-btn{
    width: 173px;
    color: black;
    border-color: lightgray !important;
    background-color: white !important;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 5px 5px 5px;
    display: flex;
    font-size: 15px;
  }
  
  .disease-btn:hover{
    background: coral !important;
    border-color: coral !important;
    color: white;
    /* -webkit-box-shadow: 0px 0px 5px black; */
    /* box-shadow: 0px 0px 5px black; */
  }

.scroll-btn{
    overflow: scroll;
    height: 102px;
    width: 173px;
}