.input-data{
    flex: 4;
    margin-right: 40px;
}

.head-qua{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.input-range{
    margin-top: 30px;
    width: 350px !important;
}
.input-range__slider{
background: coral !important;
border: 1px solid coral !important;
}
.input-range__track--active {
    background: coral !important;
}
.table-data{
    flex: 6;
}

.container{
    display: flex;
    margin: 80px 50px 50px 100px;
}

.btn-search{
    margin: 45px 0 0 278px ;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: white; 
    color: black; 
    border: 2px solid coral;
    border-radius: 8px;
    font-weight: bold;
}
.btn-search:hover{
    background: coral;
    color: whitesmoke;
}

.disease-detail{
    margin-top: 50px;
}
.disease-input{
    margin-top: 10px;
}

.disease-btn{
    width: 173px;
    color: black;
    border-color: lightgray !important;
    background-color: white !important;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 5px 5px 5px;
    display: flex;
    font-size: 15px;
  }
  
  .disease-btn:hover{
    background: coral !important;
    border-color: coral !important;
    color: white;
    /* -webkit-box-shadow: 0px 0px 5px black; */
    /* box-shadow: 0px 0px 5px black; */
  }

/* .third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    /* display: inline;
} */


/* Menu Link Styles */

/* .top-level-menu a 
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    /* display: block; */
    /* line-height: 30px; */
/* } */
/* .top-level-menu a:hover { color: #000000; }   */