.navbar{
    height: 80px;
    background: coral;
}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.btn-company{
    background: coral;
    border: coral;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

.btn-company:hover{
    color: white;
    text-decoration:none;
    -webkit-box-shadow: 0px 0px 5px rgb(156, 89, 11);
    box-shadow: 0px 0px 5px rgb(156, 89, 11);
  }


