.company-input{
    margin-left: 330px;
    width:480px;
    display: flex;
  align-items: center;
}

.company-search{
    margin-left: 330px;
    width: 650px;
    color: black;
    border-color: lightgray !important;
    background-color: white !important;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 5px 5px 5px;
    display: flex;
    font-size: 15px;
  }
  
  .company-search:hover{
    background: coral !important;
    border-color: coral !important;
    color: white;
    /* -webkit-box-shadow: 0px 0px 5px black; */
    /* box-shadow: 0px 0px 5px black; */
  }
  .scroll-company{
    overflow: scroll;
    width: 810px;
    height: 103px;
}

.table-company{
    margin-left: 115px;
}